body {
  overflow-y: hidden;
}



#textH2 {
  padding: 0px;
  border: 0px solid black;
  background-color: white;
  color: black;
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 28px;
}

#button1 {
  position: absolute;
  top: 100px;
  left: 10px;
  /*width: 40px;
  height: 40px;*/
}

#button2 {
  position: absolute;
  top: 100px;
  left: 40px;
}

#button3 {
  position: absolute;
  top: 100px;
  left: 70px;
}

#button4 {
  position: absolute;
  top: 130px;
  left: 10px;
}

#button5 {
  position: absolute;
  top: 130px;
  left: 40px;
}

#button6 {
  position: absolute;
  top: 130px;
  left: 70px;
}

#button7 {
  position: absolute;
  top: 160px;
  left: 10px;
}

#button8 {
  position: absolute;
  top: 160px;
  left: 40px;
}

#button9 {
  position: absolute;
  top: 160px;
  left: 70px;
}

#button0 {
  position: absolute;
  top: 190px;
  left: 10px;
  width: 83px;
  /*height: 10px;*/

}

#buttonEqual {
  position: absolute;
  top: 160px;
  left: 100px;
  height: 50px;
}

#buttonPlus {
  position: absolute;
  top: 130px;
  left: 100px;
}

#buttonMinus {
  position: absolute;
  top: 100px;
  left: 100px;
}



#buttonMultiplication {
  position: absolute;
  top: 130px;
  left: 130px;
}

#buttonDivision {
  position: absolute;
  top: 100px;
  left: 130px;
}
#buttonClear {
  position: absolute;
  top: 160px;
  left: 130px;
  height: 50px;
}


#viewResult {
  position: absolute;
  border: 1px solid black;
  top: 40px;
  left: 5px;
  z-index: 1;
  font-size: 14px;
  font-weight: bold;
  color: blue;
  width: 150px;
  height: 20px;
}

#viewToDoAction {
  position: absolute;
  border: 1px solid black;
  top: 70px;
  /*left: 5px;*/
  z-index: 1;
  font-size: 12px;
  font-weight: normal;
  color: black;
  width: 15px;
  height: 20px;
}

#viewToDoAction1 {
  position: absolute;
  border: 1px solid black;
  top: 70px;
  /*left: 25px;*/
  z-index: 1;
  font-size: 12px;
  font-weight: normal;
  color: black;
  width: 30px;
  height: 20px;
}

#viewToDoAction2 {
  position: absolute;
  border: 1px solid black;
  top: 70px;
  /*left: 150px;*/
  z-index: 1;
  font-size: 12px;
  font-weight: normal;
  color: black;
  width: 15px;
  height: 20px;
}

#textBox1 {
  position: absolute;
border: 1px solid black;
  top: 300px;
  /*left: 5;*/
  width: 15px;
  height: 20px;
}
