body {
  overflow-y: hidden;
}



#textH2 {
  padding: 0px;
  border: 0px solid black;
  background-color: white;
  color: black;
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 28px;
}

#button1 {
  position: absolute;
  top: 100px;
  left: 10px;
  width: 25px;
  height: 25px;
}

#button2 {
  position: absolute;
  top: 100px;
  left: 40px;
  width: 25px;
  height: 25px;
}

#button3 {
  position: absolute;
  top: 100px;
  left: 70px;
  width: 25px;
  height: 25px;
}

#button4 {
  position: absolute;
  top: 130px;
  left: 10px;
  width: 25px;
  height: 25px;
}

#button5 {
  position: absolute;
  top: 130px;
  left: 40px;
  width: 25px;
  height: 25px;
}

#button6 {
  position: absolute;
  top: 130px;
  left: 70px;
  width: 25px;
  height: 25px;
}

#button7 {
  position: absolute;
  top: 160px;
  left: 10px;
  width: 25px;
  height: 25px;
}

#button8 {
  position: absolute;
  top: 160px;
  left: 40px;
  width: 25px;
  height: 25px;
}

#button9 {
  position: absolute;
  top: 160px;
  left: 70px;
  width: 25px;
  height: 25px;
}

#button0 {
  position: absolute;
  top: 190px;
  left: 10px;
  width: 53px;
height: 25px;

}


#buttonx {
  position: absolute;
  top: 190px;
  left: 70px;
  width: 25px;
  height: 25px;

}
#buttonEqual {
  position: absolute;
  top: 160px;
  left: 100px;
  width: 25px;
  height: 55px;
}

#buttonPlus {
  position: absolute;
  top: 130px;
  left: 100px;
  width: 25px;
  height: 25px;
}

#buttonMinus {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 25px;
  height: 25px;
}



#buttonMultiplication {
  position: absolute;
  top: 130px;
  left: 130px;
  width: 25px;
  height: 25px;
}

#buttonDivision {
  position: absolute;
  top: 100px;
  left: 130px;
  width: 25px;
  height: 25px;
}
#buttonClear {
  position: absolute;
  top: 160px;
  left: 130px;
  height: 55px;
  width: 25px;
}


#viewResult {
  position: absolute;
  border: 1px solid black;
  top: 40px;
  left: 5px;
  z-index: 1;
  font-size: 14px;
  font-weight: bold;
  color: blue;
  width: 150px;
  height: 20px;
  text-align: right;
}

#viewToDoAction {
  position: absolute;
  border: 0px solid black;
background-color: lightgray;
  top: 70px;
  /* left: 5px; */
  z-index: 1;
  font-size: 12px;
  font-weight: normal;
  color: black;
  width: 10px;
  height: 20px;
}

#viewToDoAction1 {
  position: absolute;
  border: 0px solid black;
  background-color: lightgray;
  top: 70px;
  /*left: 25px;*/
  z-index: 1;
  font-size: 12px;
  font-weight: normal;
  color: black;
  width: 10px;
  height: 20px;
}

#viewToDoAction2 {
  position: absolute;
  border: 0px solid black;
  background-color: lightgray;
  top: 70px;
  /*left: 150px;*/
  z-index: 1;
  font-size: 12px;
  font-weight: normal;
  color: black;
  width: 10px;
  height: 20px;
}

#viewToDoAction3 {
  position: absolute;
  border: 1px solid black;
  top: 70px;
  /*left: 25px;*/
  z-index: 1;
  font-size: 12px;
  font-weight: normal;
  color: black;
  width: 10px;
  height: 20px;
}

#viewToDoAction4 {
  position: absolute;
  border: 1px solid black;
  top: 70px;
  /*left: 25px;*/
  z-index: 1;
  font-size: 12px;
  font-weight: normal;
  color: black;
  width: 10px;
  height: 20px;
}

#viewToDoAction5 {
  position: absolute;
  border: 1px solid black;
  top: 70px;
  /*left: 25px;*/
  z-index: 1;
  font-size: 12px;
  font-weight: normal;
  color: black;
  width: 10px;
  height: 20px;
}
#viewToDoAction6 {
  position: absolute;
  border: 1px solid black;
  top: 70px;
  /*left: 25px;*/
  z-index: 1;
  font-size: 12px;
  font-weight: normal;
  color: black;
  width: 10px;
  height: 20px;
}

#viewToDoAction7 {
  position: absolute;
  border: 1px solid black;
  top: 70px;
  /*left: 25px;*/
  z-index: 1;
  font-size: 12px;
  font-weight: normal;
  color: black;
  width: 10px;
  height: 20px;
}

#viewToDoAction8 {
  position: absolute;
  border: 1px solid black;
  top: 70px;
  /*left: 25px;*/
  z-index: 1;
  font-size: 12px;
  font-weight: normal;
  color: black;
  width: 10px;
  height: 20px;
}
#viewToDoAction9 {
  position: absolute;
  border: 1px solid black;
  top: 70px;
  /*left: 25px;*/
  z-index: 1;
  font-size: 12px;
  font-weight: normal;
  color: black;
  width: 10px;
  height: 20px;
}
#viewToDoAction10 {
  position: absolute;
  border: 1px solid black;
  top: 70px;
  /*left: 25px;*/
  z-index: 1;
  font-size: 12px;
  font-weight: normal;
  color: black;
  width: 10px;
  height: 20px;
}

#textBox1 {
  position: absolute;
border: 1px solid black;
  top: 300px;
  /*left: 5;*/
  width: 15px;
  height: 20px;
}
